.about-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.about-card {
  background-color: #ffffff;
  padding: 2rem;
  max-width: 800px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.about-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}
